!!!
%html
  %head
    %title RaveMeet
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    - flash.each do |name, msg|
      .alert{ :class => "alert-#{name}" }
        %button.close{ :data => { :dismiss => "alert"} } x
        = msg

    <!-- application.html.erb -->
    = javascript_pack_tag 'application'
 

    = react_component("Nav", {isLoggedIn:user_signed_in?, currentUser:current_user, rootPath:root_path, eventIndexUrl:events_path})
    = yield
    = react_component("Footer")
