!!!
%html
  %head
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126188592-1"></script>
    %script
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-126188592-1');

    %title RaveMeet
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    

  %body{class: controller.controller_name}
    - flash.each do |name, msg|
      .alert{ :class => "alert-#{name}" }
        %button.close{ :data => { :dismiss => "alert"} } x
        = msg

    = javascript_pack_tag 'application'
    
    = react_component("Nav", {isLoggedIn:user_signed_in?, currentUser:current_user, rootPath:root_path, eventIndexUrl:events_path})
    = yield
    = react_component("Footer",{currentUser:current_user})
